*{
    margin:0;
    padding: 0;
box-sizing: border-box;
}
body{
     background-image: url(2.jpg) ;
    background-size: cover;
    background-position: center;
    
    font-family: sans-serif;
}
.sazzad{
    background-color: #644400;
    text-align: center;
}
.sazzad ul{
display: inline-flex;
list-style: none;
color:white;
}
.sazzad ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.sazzad ul li a{
    text-decoration: none;
    color: #fff;

}
.active,.sazzad ul li a:hover{
    background: rgb(221, 200, 8);
    border-radius: 3px;

}